In [2]:
#importando a biblioteca pandas
import pandas as pd

In [7]:
df = pd.read_csv("/content/drive/MyDrive/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
# Vizualizando as cincos primeiras linhas;

df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [34]:
df = df.rename(columns={"country": "país", "continent": "Continente", "year": "Ano", "lifeExp": "Exp_Vida", "pop": "População", "gdpPercap": "Pib"})

In [35]:
# Total de linhas e colunas.
df.shape

(3312, 6)

In [36]:
df.columns

Index(['país', 'Continente', 'Ano', 'Exp_Vida', 'População', 'Pib'], dtype='object')

In [37]:
df.dtypes

país           object
Continente     object
Ano             int64
Exp_Vida      float64
População       int64
Pib           float64
dtype: object

In [38]:
df.tail(15)

          país Continente   Ano  Exp_Vida  População          Pib
3297    Zambia     Africa  1997    40.238    9417789  1071.353818
3298    Zambia     Africa  2002    39.193   10595811  1071.613938
3299    Zambia     Africa  2007    42.384   11746035  1271.211593
3300  Zimbabwe     Africa  1952    48.451    3080907   406.884115
3301  Zimbabwe     Africa  1957    50.469    3646340   518.764268
3302  Zimbabwe     Africa  1962    52.358    4277736   527.272182
3303  Zimbabwe     Africa  1967    53.995    4995432   569.795071
3304  Zimbabwe     Africa  1972    55.635    5861135   799.362176
3305  Zimbabwe     Africa  1977    57.674    6642107   685.587682
3306  Zimbabwe     Africa  1982    60.363    7636524   788.855041
3307  Zimbabwe     Africa  1987    62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992    60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997    46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002    39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007    43.487   12311143   469.709298

In [39]:
df.describe()

               Ano     Exp_Vida     População            Pib
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [41]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [42]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     país Continente   Ano  Exp_Vida  População          Pib
975  Fiji    Oceania  1962    56.494     421869  2039.393277
976  Fiji    Oceania  1967    58.607     485000  2170.073285
977  Fiji    Oceania  1972    60.642     544000  2797.759484
978  Fiji    Oceania  1977    62.669     599339  3182.569600
979  Fiji    Oceania  1982    64.683     658906  3209.257468

In [43]:
df.groupby("Continente")["país"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: país, dtype: int64

In [47]:
df.groupby("Ano")["Exp_Vida"].max()

Ano
1950    71.600
1951    72.540
1952    72.670
1953    73.150
1954    73.360
1955    73.440
1956    73.490
1957    73.470
1958    73.430
1959    73.560
1960    74.090
1961    73.590
1962    73.680
1963    73.560
1964    73.730
1965    73.880
1966    74.130
1967    74.160
1968    74.030
1969    74.150
1970    74.700
1971    74.620
1972    74.720
1973    74.880
1974    74.990
1975    75.350
1976    76.710
1977    76.110
1978    76.420
1979    76.630
1980    76.660
1981    76.600
1982    77.110
1983    77.140
1984    77.540
1985    77.840
1986    78.260
1987    78.670
1988    78.580
1989    79.020
1990    79.040
1991    79.310
1992    79.360
1993    79.510
1994    79.910
1995    79.760
1996    80.460
1997    80.690
1998    80.770
1999    80.740
2000    81.350
2001    81.700
2002    82.000
2003    82.070
2004    82.360
2005    82.270
2006    82.670
2007    82.603
Name: Exp_Vida, dtype: float64

In [49]:
df["Pib"].mean()

11317.115804696648